<section class="py-5">
  <div class="container">

    <h1 class="h3 fw-semibold mb-4">Imprint</h1>

    <div class="mb-4">
      <h2 class="h5 fw-semibold" style="margin-bottom: 0;">DID Daten-Intermediär-Dienste FlexCo</h2>
      <p class="mb-1">(flexible Kapitalgesellschaft)</p>
      <p class="mb-1">
        Treustraße 52<br>
        1200 Wien<br>
        Österreich
      </p>
      <p class="mb-1">
        E-Mail:
        <%= mail_to "office@intermediary.at", "office@intermediary.at" %><br>
        Tel.: +43 677 617 53 112
      </p>
      <p class="mb-1">
        <strong>CEO:</strong> DI Dr. Christoph Fabianek, MBA
      </p>
      <p class="mb-1">
        <strong>Company registration number:</strong> FN 637970t<br>
        <strong>Company registration court:</strong> Vienna Commercial Court
      </p>
      <p class="mb-1">
        <strong>Chamber of Commerce membership:</strong> Member of the Vienna Chamber of Commerce<br>
        <strong>Sections:</strong> Management Consultancy, Accounting, and Information Technology<br>
        <strong>Professional Groups:</strong> Data Intermediation Service Provider
      </p>
    </div>

    <div class="mb-4">
      <h2 class="h5 fw-semibold">Important legal information</h2>
      <p><strong>Links:</strong> DID Daten-Intermediär-Dienste FlexCo does not check the content or legality of external websites linked to directly from this website. DID Data Intermediary Services FlexCo has no influence on the design of these websites and expressly distances itself from any content published there that may be illegal. DID Data Intermediary Services FlexCo accepts no responsibility or liability for such content.</p>
      <p><strong>Copyright:</strong> The contents of this website are protected by copyright. Any use/distribution of the material provided requires the written consent of the website operator.</p>
      <p><strong>Changes:</strong> DID Daten-Intermediär-Dienste FlexCo reserves the right to make changes or additions to the information provided without prior notice.</p>
      <p><strong>Data protection:</strong> All personal data is processed by DID Data Intermediary Services FlexCo in accordance with the General Data Protection Regulation (GDPR), the Data Protection Act (DSG) and the Telecommunications Act (TKG). Information on data protection can be found here: <%= link_to t("landing.privacy_link"), privacy_path %></p>

    </div>
  </div>
</section>