<section class="py-5">
  <div class="container">

    <h1 class="h3 fw-semibold mb-4">Impressum</h1>

    <div class="mb-4">
      <h2 class="h5 fw-semibold" style="margin-bottom: 0;">DID Daten-Intermediär-Dienste FlexCo</h2>
      <p class="mb-1">(flexible Kapitalgesellschaft)</p>
      <p class="mb-1">
        Treustraße 52<br>
        1200 Wien<br>
        Österreich
      </p>
      <p class="mb-1">
        E-Mail:
        <%= mail_to "office@intermediary.at", "office@intermediary.at" %><br>
        Tel.: +43 677 617 53 112
      </p>
      <p class="mb-1">
        <strong>Geschäftsführung:</strong> DI Dr. Christoph Fabianek, MBA
      </p>
      <p class="mb-1">
        <strong>Firmenbuchnummer:</strong> FN 637970t<br>
        <strong>Firmenbuchgericht:</strong> Handelsgericht Wien
      </p>
      <p class="mb-1">
        <strong>Kammerzugehörigkeit:</strong> Mitglied der Wirtschaftskammer Wien<br>
        <strong>Fachgruppe:</strong> Unternehmensberatung, Buchhaltung und IT (UBIT)<br>
        <strong>Berufsgruppe:</strong> Datenvermittlungsdienste
      </p>
    </div>

    <div class="mb-4">
      <h2 class="h5 fw-semibold">Wichtige rechtliche Hinweise</h2>
      <p><strong>Links:</strong> Die DID Daten-Intermediär-Dienste FlexCo überprüft fremde Webseiten, auf die direkt von dieser Webseite aus verlinkt wird, nicht auf Inhalt oder Gesetzmäßigkeit. Die DID Daten-Intermediär-Dienste FlexCo hat keinen Einfluss auf die Gestaltung dieser Webseiten und distanziert sich ausdrücklich von allen dort veröffentlichten Inhalten, die gegebenenfalls rechtswidrig sein könnten. Für solche Inhalte übernimmt die DID Daten-Intermediär-Dienste FlexCo keine Verantwortung oder Haftung.</p>
      <p><strong>Urheberrecht:</strong> Die Inhalte dieser Webseite unterliegen urheberrechtlichem Schutz. Jegliche Verwendun oder Verbreitung von bereitgestelltem Zustimmung des Webseitenbetreibers.</p>
      <p><strong>Änderungen:</strong> Die DID Daten-Intermediär-Dienste FlexCo behält sich das Recht vor, Änderungen oder Ergänzungen der bereitgestellten Informationen ohne vorherige Ankündigung vorzunehmen.</p>
      <p><strong>Datenschutz:</strong> Alle personenbezogenen Daten werden von der DID Daten-Intermediär-Dienste FlexCo im Einklang mit der Datenschutz-Grundverordnung (DSGVO), dem Datenschutzgesetz (DSG) und dem Telekommunikationsgesetz (TKG 2021) verarbeitet. Informationen zum Datenschutz finden Sie hier: <%= link_to t("landing.privacy_link"), privacy_path %></p>
    </div>
  </div>
</section>