<section class="py-5">
  <div class="container">
    <h1 class="h3 fw-semibold mb-4">Datenschutzinformation</h1>

    <div class="mb-4">
      <h2 class="h5 fw-semibold">Allgemeine Hinweise</h2>
      <p class="mb-1">Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können, wie z.B. Ihr Name, Ihre Kontaktdaten oder Ihre IP-Adresse.</p>
      <p class="mb-1">Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst und behandeln Ihre personenbezogenen Daten vertraulich sowie entsprechend den gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>
      <p class="mb-1">Im Folgenden geben wir einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Dazu legen wir dar,  welche Daten wir erheben und wofür wir sie nutzen. Wir erläutern auch, wie und zu welchem Zweck das geschieht.</p>
    </div>
    <div class="mb-4">
      <h2 class="h5 fw-semibold">Verantwortliche Stelle</h2>
      <p class="mb-1">Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
      <p class="mb-1">DID Daten-Intermediär-Dienste FlexCo<br>
        Treustraße 52<br>
        1200 Wien<br>
        E-Mail: office@intermediary.at<br>
        Telefon: +43 677 617 53 112</p>
    </div>

    <div class="mb-4">
      <h1 class="h3 fw-semibold mb-4">Datenschutz bei Nutzung unserer Website</h1>
      <h2 class="h5 fw-semibold">Welche personenbezogenen Daten werden erhoben?</h2>
      <p class="mb-1">Im Zuge Ihres Besuches unserer Website erheben wir folgende Daten:
        <ul>
          <li>Browsertyp und Browserversion</li>
          <li>verwendetes Betriebssystem</li>
          <li>Referrer-URL</li>
          <li>Datum und Uhrzeit des Aufrufs einer Seite auf unserer Website</li>
          <li>IP-Adresse</li>
          <li>jene Informationen, die Sie uns selbst im Rahmen einer Anfrage in Kontaktformularen zur Verfügung stellen (Vor- und Zuname, Adresse, E-Mail-Adresse, Telefonnummer, sonstige Inhaltsdaten Ihrer Anfrage)</li>
        </ul>
        Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
      </p>

      <h2 class="h5 fw-semibold">Wie erfassen wir Ihre Daten?</h2>
      <p class="mb-1">Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben. Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs).</p>
      <p class="mb-1">Wenn Sie uns per E-Mail oder Telefon kontaktieren, verarbeiten wir die dabei übermittelten personenbezogenen Daten ausschließlich zur Bearbeitung Ihrer Anfrage. Rechtsgrundlage: Art. 6 Abs. 1 lit. b oder f DSGVO.</p>
      <p></p>

      <h2 class="h5 fw-semibold">Zu welchen Zwecken werden personenbezogene Daten erhoben?</h2>
      <p class="mb-1">Wir verarbeiten personenbezogene Daten zu folgenden Zwecken:
        <ul>
          <li>Bereitstellung und Aufrechterhaltung unserer Dienste</li>
          <li>Benachrichtigung über Änderungen an unserem Dienst</li>
          <li>Kundenbetreuung und Support</li>
          <li>Überwachung der Nutzung des Dienstes</li>
          <li>Bereitstellung von Analysen oder wertvollen Informationen, damit wir den Dienst verbessern können</li>
          <li>Erstellung von Nutzerstatistiken und Nutzeranalyse</li>
          <li>Kontinuierliche Verbesserung und Weiterentwicklung der Website</li>
          <li>Erkennung und Verhinderung von Angriffen auf unsere Website</li>
          <li>Erkennung, Verhinderung und Behebung sonstiger technischer Probleme</li>
        </ul>
      </p>

      <h2 class="h5 fw-semibold">Auf welcher Rechtsgrundlage werden personenbezogene Daten verarbeitet?</h2>
      <p class="mb-1">Die Verarbeitung Ihrer Daten erfolgt auf Basis folgender Rechtsgrundlagen:
        <ol>
          <li><strong>Verarbeitung im überwiegenden berechtigten Interesse</strong> (Art. 6 Abs. 1 lit. f DSGVO):<br>
          Wir haben ein überwiegendes berechtigtes Interesse daran, ihre personenbezogenen Daten zu verarbeiten, um unsere Website betreiben und aufrechterhalten sowie technische Probleme beheben zu können.</li>
          <li><strong>Verarbeitung aufgrund Ihrer Einwilligung</strong> (Art. 6 Abs. 1 lit. a DSGVO):<br>
          Besteht weder ein Vertrag mit uns, noch ein überwiegendes berechtigtes Interesse, kann die Datenverarbeitung aufgrund Ihrer Einwilligung erfolgen. Der konkrete Umfang und Inhalt der Datenverarbeitung ergibt sich aus Ihrer Einwilligung. Sie können eine Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen. Die Datenverarbeitung bis zum Zeitpunkt des Widerrufs bleibt jedoch rechtmäßig. Das bedeutet, ein Widerruf Ihrer Einwilligung wirkt nicht für die Vergangenheit.</li>
        </ol>
      </p>
      <p></p>

      <h2 class="h5 fw-semibold">Cookies</h2>
      <p class="mb-1">Unsere Website verwendet so genannte „Cookies“. Cookies sind kleine Datenpakete und richten auf Ihrem Endgerät keinen Schaden an. Wir nutzen ausschließlich technisch notwendige Cookies. Diese Cookies sind erforderlich, um die Sitzungsverwaltung (z. B. Login-Status) und Sicherheitsfunktionen (z. B. Schutz vor CSRF-Angriffen) bereitzustellen. Es werden keine Cookies zu Analyse-, Tracking- oder Werbezwecken eingesetzt.</p>
      <p class="mb-1">Cookies können keine anderen Daten auf Ihrem Gerät lesen oder ändern und werden entweder vorübergehend für die Dauer einer Sitzung (Session-Cookies) oder dauerhaft (permanente Cookies) auf Ihrem Endgerät gespeichert. Session-Cookies werden nach Ende Ihres Besuchs automatisch gelöscht. Permanente Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese selbst löschen oder eine automatische Löschung durch Ihren Webbrowser erfolgt.</p>
      <p class="mb-1">Cookies können von uns (First-Party-Cookies) oder von Drittunternehmen stammen (sog. Third-Party-Cookies). Third-Party-Cookies ermöglichen die Einbindung bestimmter Dienstleistungen von Drittunternehmen innerhalb von Webseiten (z. B. Cookies zur Abwicklung von Zahlungsdienstleistungen).</p>
      <p class="mb-1">Cookies haben verschiedene Funktionen. Zahlreiche Cookies sind technisch notwendig, da bestimmte Webseitenfunktionen ohne diese nicht funktionieren würden (z. B. die Warenkorbfunktion). Andere Cookies können zur Auswertung des Nutzerverhaltens oder zu Werbezwecken verwendet werden (funktionale Cookies).</p>
      <p class="mb-1">Sie können Cookies (außer den notwendigen) blockieren oder löschen. Hinweise dazu finden Sie in der Hilfe Ihres Browsers. Bitte beachten Sie, dass die Nutzung der Website dadurch eingeschränkt sein kann.</p>
      <p class="mb-1">Wir verwenden folgende Cookies:
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Cookie Name</th>
              <th>Zweck</th>
              <th>Dauer</th>
              <th>Gespeicherte Information</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>_dc_base_session</td>
              <td>Session Management</td>
              <td>für die Dauer des Logins</td>
              <td>Identifikation des Benutzers</td>
            </tr>
          </tbody>
        </table>
      </p>
    </div>
    <p>&nbsp;</p>
    <hr>

    <div class="mb-4">
      <h1 class="h3 fw-semibold mb-4">Datenschutz bei Nutzung einer qualifizierten elektronischen Signatur (ID-Austria)</h1>
      <h2 class="h5 fw-semibold">Welche personenbezogenen Daten werden erhoben?</h2>
      <p class="mb-1">Nutzen Sie bei der Inanspruchnahme unserer Dienstleistungen eine qualifiziert elektronische Signatur, validieren wir diese. Bei Nutzung des Validierungsdienstes werden folgende Daten verarbeitet:
        <ul>
          <li>Vorname</li>
          <li>Nachname</li>
          <li>Geburtsdatum</li>
          <li>Vertretungsbefugnis für Unternehmen</li>
          <li>Zeitpunkt der Signatur- bzw. Siegelerstellung</li>
          <li>Daten des zu validierenden Dokuments</li>
          <li>Zeitpunkt des Prüfvorgangs</li>
          <li>Informationen des Prüfberichts</li>
        </ul>
      </p>
      <h2 class="h5 fw-semibold">Wie erfassen wir Ihre Daten?</h2>
      <p class="mb-1">Wir erfassen Ihre Daten automatisch im Zuge der elektronischen Prüfung Ihrer Signatur.</p>
      <p></p>
      <h2 class="h5 fw-semibold">Zu welchen Zwecken werden personenbezogene Daten erhoben?</h2>
      <p class="mb-1">Die Datenverarbeitung bei der Validierung der qualifiziert elektronischen Signatur erfolgt, um die Gültigkeit der qualifiziert elektronischen Signaturen zu prüfen, Ihnen die Registrierung und Nutzung unseres Dienstes zu ermöglichen bzw. zur etwaigen Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>
      <p></p>
      <h2 class="h5 fw-semibold">Auf welcher Rechtsgrundlage werden personenbezogene Daten verarbeitet?</h2>
      <p class="mb-1">Die Verarbeitung Ihrer Daten erfolgt auf Basis folgender Rechtsgrundlagen:
        <ol>
          <li><strong>Verarbeitung im überwiegenden berechtigten Interesse</strong> (Art. 6 Abs. 1 lit. f DSGVO):<br>
          Die Datenverarbeitung im Zug der Validierung der qualifiziert elektronischen Signatur erfolgt auf Basis unseres berechtigen Interesses, die die Gültigkeit der qualifizierten elektronischen Signatur zu prüfen und dadurch Rechtssicherheit zu erhalten bzw. der etwaigen Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</li>
        </ol>
      </p>
      <p></p>
    </div>
    <p>&nbsp;</p>
    <hr>

    <div class="mb-4">
      <h1 class="h3 fw-semibold mb-4">Datenschutz bei Nutzung des Sphereon Wallets</h1>
      <p class="mb-1">Sie haben die Möglichkeit, sich freiwillig über das Sphereon Wallet bei uns zu registrieren. Das Sphereon Wallet ist ein sogenanntes „Self-Sovereign Identity (SSI)“-System. Ihre persönlichen Daten werden ausschließlich lokal auf Ihrem mobilen Gerät gespeichert. Sphereon betreibt keinen zentralen Server, auf dem Ihre Identitätsdaten standardmäßig verarbeitet würden. Eine Übermittlung Ihrer Daten an uns erfolgt nur, wenn Sie uns diese aktiv und ausdrücklich über das Wallet zur Verfügung stellen.</p>
      <h2 class="h5 fw-semibold">Welche personenbezogenen Daten werden erhoben?</h2>
      <p class="mb-1">Wir verarbeiten ausschließlich personenbezogenen Daten, die Sie uns über das Sphereon Wallet im Rahmen der Registrierung bereitstellen. Dazu können insbesondere gehören:
        <ul>
          <li>Name</li>
          <li>Qualifikationen oder andere Merkmale (z. B. Geburtsdatum, Ausweis- oder Führerscheindaten)</li>
          <li>ggf. bei Kontaktaufnahme: E-Mail-Adresse sowie weitere freiwillige Angaben</li>
        </ul>
      </p>
      <h2 class="h5 fw-semibold">Wie erfassen wir Ihre Daten?</h2>
      <p class="mb-1">Die Daten werden ausschließlich dadurch erhoben, dass Sie diese aktiv über das Sphereon Wallet an uns übermitteln oder uns im Rahmen der Kommunikation bereitstellen.</p>
      <p></p>
      <h2 class="h5 fw-semibold">Zu welchen Zwecken werden personenbezogene Daten erhoben?</h2>
      <p class="mb-1">Wir verarbeiten die übermittelten personenbezogenen Daten, um Ihre digitale Identität zu prüfen, Ihre über das Wallet bereitgestellten Nachweise („Verifiable Credentials“) entgegenzunehmen und Ihnen die Registrierung und Nutzung unseres Dienstes zu ermöglichen.</p>
      <p></p>
      <h2 class="h5 fw-semibold">Auf welcher Rechtsgrundlage werden personenbezogene Daten verarbeitet?</h2>
      <p class="mb-1">Die Verarbeitung Ihrer Daten erfolgt auf Basis folgender Rechtsgrundlagen:
        <ol>
          <li><strong>Verarbeitung im überwiegenden berechtigten Interesse</strong> (Art. 6 Abs. 1 lit. f DSGVO):<br>
          Soweit erforderlich, verarbeiten wir Ihre Daten zur Sicherstellung der technischen Funktionsfähigkeit unseres Registrierungs- und Identifikationsverfahrens sowie zur Überprüfung der Echtheit der bereitgestellten Nachweise („Verifiable Credentials“). Dies dient unserem berechtigten Interesse, einen sicheren und manipulationsgeschützten Registrierungsprozess zu gewährleisten sowie Missbrauch vorzubeugen.</li>
          <li><strong>Verarbeitung aufgrund Ihrer Einwilligung</strong> (Art. 6 Abs. 1 lit. a DSGVO):<br>
          Wir verarbeiten Ihre Daten aufgrund Ihrer Einwilligung. Sie können diese jederzeit ohne Angabe von Gründen mit Wirkung für die Zukunft widerrufen.</li>
        </ol>
      </p>
      <p class="mb-1">Ihre im Rahmen der Registrierung über das Sphereon Wallet übermittelten personenbezogenen Daten werden grundsätzlich nur innerhalb unseres Unternehmens verarbeitet. Eine Weitergabe an Dritte erfolgt ausschließlich, wenn dies zur Erfüllung gesetzlicher Pflichten erforderlich ist oder wenn wir hierfür eine entsprechende Rechtsgrundlage besitzen. Sphereon erhält von uns keine personenbezogenen Daten, die Sie uns im Rahmen der Registrierung übermitteln. Sphereon verarbeitet Ihre Daten ausschließlich lokal auf Ihrem Gerät und nur im Rahmen der Bereitstellung des Wallet-Dienstes in eigener Verantwortlichkeit.</p>
      <p></p>
    </div>
    <p>&nbsp;</p>
    <hr>

    <div class="mb-4">
      <h1 class="h3 fw-semibold mb-4">Welche Empfänger:innen oder Kategorien von Empfänger:innen erhalten Ihre Daten?</h1>
      <p class="mb-1">Im Rahmen unserer Geschäftstätigkeit arbeiten wir mit verschiedenen externen Stellen zusammen. Dabei ist teilweise auch eine Übermittlung von personenbezogenen Daten an diese externen Stellen erforderlich. Wir geben personenbezogene Daten nur dann an externe Stellen weiter, wenn dies im Rahmen einer Vertragserfüllung erforderlich ist, wenn wir gesetzlich hierzu verpflichtet sind (z.B. Weitergabe von Daten an Steuerbehörden), wenn wir ein berechtigtes Interesse nach Art. 6 Abs. 1 lit. f DSGVO an der Weitergabe haben oder wenn eine sonstige Rechtsgrundlage die Datenweitergabe erlaubt. Beim Einsatz von Auftragsverarbeitern geben wir personenbezogene Daten unserer Kunden nur auf Grundlage eines gültigen Vertrags über Auftragsverarbeitung weiter. Im Falle einer gemeinsamen Verarbeitung wird ein Vertrag über gemeinsame Verarbeitung geschlossen.</p>
      <p class="mb-1">Bei Zahlungsabwicklung werden Daten direkt durch den Zahlungsdienstleister verarbeitet.</p>
      <p></p>
      <h2 class="h5 fw-semibold">Werden Ihre Daten in Drittstaaten übermittelt?</h2>
      <p class="mb-1">Personenbezogene Daten werden nicht an Empfänger:innen in Drittstaaten (Staaten außerhalb der Europäischen Union – EU bzw. des Europäischen Wirtschaftsraums – EWR) oder an internationale Organisationen übermittelt.</p>
      <p></p>
      <h2 class="h5 fw-semibold">Wird Profiling durchgeführt?</h2>
      <p class="mb-1">Wir führen keine automatisierte Entscheidungsfindung und kein Profiling durch.</p>
      <p></p>
      <h2 class="h5 fw-semibold">Wie lange speichern wir Ihre Daten?</h2>
      <p class="mb-1">Soweit innerhalb dieser Datenschutzerklärung keine speziellere Speicherdauer genannt wurde, speichern wir Ihre personenbezogenen Daten solange, bis der Zweck für die Datenverarbeitung erfüllt wurde oder solange dies gesetzliche Vorschriften vorsehen. Eine längere Speicherung erfolgt nur bis zur Beendigung maßgeblicher Verjährungsfristen, gesetzlicher Aufbewahrungsfristen oder allfälliger Rechtsstreitigkeiten sowie bei Erteilung einer Einwilligung zur weiteren Verarbeitung. Sie können diese Einwilligung jederzeit ohne Angabe von Gründen widerrufen.</p>
      <p></p>
      <h2 class="h5 fw-semibold">Wie schützen wir Ihre Daten?</h2>
      <p class="mb-1">Wir schützen Ihre personenbezogenen Daten durch entsprechende organisatorische und technische Maßnahmen. Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL- bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden. Diese Vorkehrungen betreffen insbesondere den Schutz vor unerlaubtem, rechtswidrigem oder auch zufälligem Zugriff, Verarbeitung, Verlust, Verwendung und Manipulation.</p>
      <p></p>
      <h2 class="h5 fw-semibold">Welche Rechte haben Sie bezüglich Ihrer Daten?</h2>
      <p class="mb-1">Im Zusammenhang mit der Verarbeitung Ihrer personenbezogenen Daten haben Sie folgende Rechte:
        <ul>
          <li>Recht auf Auskunft (Art. 15 DSGVO)</li>
          <li>Recht auf Berichtigung (Art. 16 DSGVO), Ergänzung oder Löschung (Art. 17 DSGVO)</li>
          <li>Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO)</li>
          <li>Recht auf Datenübertragbarkeit (Art. 20 DSGVO)</li>
          <li>Recht auf Widerruf einer zuvor gegebenen Einwilligung </li>
          <li>Recht auf Widerspruch gegen die Verarbeitung (Art. 21 DSGVO)</li>
          <li>Recht auf Bekanntgabe der Identität von Dritten, an welche Ihre personenbezogenen Daten übermittelt werden</li>
          <li>Recht auf Beschwerde bei der österreichischen Datenschutzbehörde (Barichgasse 40-42, 1030 Wien, E-Mail: dsb@dsb.gv.at), wenn Sie der Meinung sind, dass die Verarbeitung Ihrer personenbezogenen Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche auf sonstige Weise verletzt wurden. Diesbezüglich verweisen wir auch auf die unter dem Link <a href="https://www.dsb.gv.at">https://www.dsb.gv.at</a> abrufbare Homepage der Datenschutzbehörde</li>
        </ul>
      </p>
    </div>
    <p>&nbsp;</p>
    <hr>

    <div class="mb-4">
      <h1 class="h3 fw-semibold mb-4">Änderungen</h1>
      <p class="mb-1">Wir behalten uns vor, diese Datenschutzerklärung anzupassen, um sie an geänderte Rechtslagen oder bei Änderungen unserer Services anzupassen.</p>
    </div>
  </div>
</section>
