<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container-md">
    <ul class="nav nav-pills">
      <li class="nav-item me-3">&copy; 2025</li>
      <li class="nav-item me-3"><a href="<%= t 'admin.footer.privacy_url' %>"><%= t 'admin.footer.privacy' %></a></li>
      <li class="nav-item"><a href="<%= t('admin.footer.imprint_url') %>"><%= t('admin.footer.imprint') %></a></li>
    </ul>
  </div>
</footer>