<header class="pb-3 mb-4 border-bottom d-flex align-items-center justify-content-between header-bar d-none d-md-flex" style="padding-bottom: 5px !important;">
  <h3 class="page-header"><%= @page_title %></h3>
  <%= render 'layouts/language_dropdown', locals: { dropdown_style: 'margin: -5px 10px -5px 0;' } %>
</header>
